In [ ]:
#Question 8

In [ ]:
#a) All the temperature data:

In [ ]:
SELECT Temperature FROM Weather;

In [ ]:
#b) All the cities without repetition:

In [ ]:
SELECT DISTINCT City FROM Weather;

In [ ]:
#c) All the records for India:

In [ ]:
SELECT * FROM Weather WHERE Country = 'India';

In [ ]:
#d) All the Fall records:

In [ ]:
SELECT * FROM Weather WHERE Season = 'Fall';

In [ ]:
#e) City, country, and season where average rainfall is between 200 and 400 mm:

In [ ]:
SELECT City, Country, Season 
FROM Weather 
WHERE Rainfall BETWEEN 200 AND 400;

In [ ]:
#f) City and country for which average Fall temperature is above 20Â°C, in increasing temperature order:

In [ ]:
SELECT City, Country 
FROM Weather 
WHERE Season = 'Fall' AND Temperature > 20 
ORDER BY Temperature ASC;

In [ ]:
#g) Total annual rainfall for Cairo:

In [ ]:
SELECT SUM(Rainfall) AS TotalRainfall 
FROM Weather 
WHERE City = 'Cairo';

In [ ]:
#h)  Total rainfall for each season:

In [ ]:
SELECT Season, SUM(Rainfall) AS TotalRainfall 
FROM Weather 
GROUP BY Season;